@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Calculate";
}

@model IEnumerable<EmployeeAccuredSalary>
<div class="row">
    <div class="col-xl-12">
        <section class="hk-sec-wrapper">
            <h5 class="hk-sec-title">Export Table</h5>
           
            <div class="row">
                <div class="col-sm">
                    <div class="table-wrap">
                        <table id="datable_3" class="table table-hover w-100 display">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Email</th>
                                    <th>Number</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.FirstName</td>
                                        <td>@item.SecondName</td>
                                        <td>@item.Email</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.AccuredSalary</td>
                                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Row End -->
