@model HrPayrollFinalProject.Models.Employees

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Employees</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FathersName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FathersName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Influnce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Influnce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassportNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassportNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassportExpireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassportExpireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
