@model IEnumerable<Employees>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <!-- Title Start -->
    <div class="hk-pg-header">
        <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="database"></i></span></span>Data Tables</h4>
    </div>
    <!-- Title End -->
    <!-- Row Start -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">Data Table</h5>
                <form method="post">
                     <div class="form-group">
                         <input asp-action="Calculate" type="submit" value="Calculate" class="btn btn-dark"/>
                     </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="table-wrap">
                                <table id="datable_1" class="table table-hover w-100 display pb-30">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Surname</th>
                                            <th>Fathers Name</th>
                                            <th>Birth Date</th>
                                            <th>Email</th>
                                            <th>Number</th>
                                            <th>Adress</th>
                                            <th>Action</th>
                                            <th>Influnce</th>
                                            <th>Passport No</th>
                                            <th>Passport Expire Date</th>
                                            <th>Education</th>
                                            <th>Family State</th>
                                            <th>Gender</th>
                                            <th>Photo</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                            <th>Details</th>
                                            <th>Bonus</th>
                                            <th>Penalty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Surname</td>
                                            <td>@item.FathersName</td>
                                            <td>@item.BirthDate</td>
                                            <td>@item.Email</td>
                                            <td>@item.Number</td>
                                            <td>@item.Adress</td>
                                            <td><input type="checkbox" class="checkbox-danger" value="@item.Id" name="[]id" /></td>
                                            <td>@item.Influnce</td>
                                            <td>@item.PassportNo</td>

                                            <td>@item.PassportExpireDate</td>
                                            <td>@item.Education</td>
                                            <td>@item.FamilyState</td>
                                            <td>@item.Gender</td>
                                            <td>
                                                <img class="img-thumbnail" width="150" style="display:block" src="~/img/@item.ImageUrl"
                                                     asp-append-version="true" />
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-blue">Edit</a>
                                            </td>
                                            <td>
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                            </td>
                                            <td>
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">Details</a>
                                            </td>
                                            <td>
                                                <a asp-action="AddBonus" asp-controller="Bonus" asp-route-id="@item.Id" class="btn btn-green">Bonus</a>
                                            </td>
                                            <td>
                                                <a asp-action="AddPenalty" asp-controller="Penalty" asp-route-id="@item.Id" class="btn btn-brown">Penalty</a>
                                            </td>

                                        </tr>
                                        }
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Surname</th>
                                            <th>Fathers Name</th>
                                            <th>Birth Date</th>
                                            <th>Email</th>
                                            <th>Number</th>
                                            <th>Adress</th>
                                            <th>Influnce</th>
                                            <th>Passport No</th>
                                            <th>Action</th>
                                            <th>Passport Expire Date</th>
                                            <th>Education</th>
                                            <th>Family State</th>
                                            <th>Gender</th>
                                            <th>Photo</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                            <th>Details</th>
                                            <th>Bonus</th>
                                            <th>Penalty</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </form>
            </section>
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">Export Table</h5>
                <p class="mb-40">Use buttons: <code>['copy', 'csv', 'excel', 'pdf', 'print']</code> to add export table options.</p>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            <table id="datable_3" class="table table-hover w-100 display">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>$320,800</td>
                                    </tr>
                                    <tr>
                                        <td>Adwez Nash</td>
                                        <td>Software Engineer</td>
                                        <td>India</td>
                                        <td>38</td>
                                        <td>2014/05/03</td>
                                        <td>$763,500</td>
                                    </tr>
                                    <tr>
                                        <td>Garrett Winters</td>
                                        <td>Accountant</td>
                                        <td>Tokyo</td>
                                        <td>63</td>
                                        <td>2011/07/25</td>
                                        <td>$170,750</td>
                                    </tr>
                                    <tr>
                                        <td>Ashton Cox</td>
                                        <td>Junior Technical Author</td>
                                        <td>San Francisco</td>
                                        <td>66</td>
                                        <td>2009/01/12</td>
                                        <td>$86,000</td>
                                    </tr>
                                    <tr>
                                        <td>Cedric Kelly</td>
                                        <td>Senior Javascript Developer</td>
                                        <td>Edinburgh</td>
                                        <td>22</td>
                                        <td>2012/03/29</td>
                                        <td>$433,060</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Row End -->

</div>